
<img src="~/img/doutrina.png" />

<h1>O Evangelho Quadrangular</h1>
<p>
    O termo <strong>“Evangelho Quadrangular”</strong> foi inspirado pela fundadora da igreja,
    <strong>Aimée Semple McPherson</strong>, durante uma campanha evangelística em Oakland,
    Califórnia, em 1922.
</p>
<p>
    “Evangelho Quadrangular” representa algo <strong>igualmente equilibrado por todos os lados</strong>,
    estabelecido e resistente. Essa confiança no poder do evangelho é expressa em:
</p>

<blockquote>
    “Jesus Cristo é o mesmo ontem, hoje e será eternamente.”<br />
    <small>(Hebreus 13:8)</small>
</blockquote>

<p>
    Além disso, o termo também simboliza os <strong>quatro pilares do ministério de Jesus na Terra</strong>,
    que constituem a base doutrinária da Igreja do Evangelho Quadrangular:
</p>

<div class="pilares">
    <h2>Os Quatro Pilares do Evangelho Quadrangular:</h2>
    <ul>
        <li><strong>Jesus, o Salvador</strong></li>
        <li><strong>Jesus, o Médico dos médicos</strong></li>
        <li><strong>Jesus, o Batizador com o Espírito Santo</strong></li>
        <li><strong>Jesus, o Rei que há de vir</strong></li>
    </ul>
</div>