<h1>Missão, Visão e Valores</h1>

<section>
    <h2>Missão</h2>
    <p>
        A Igreja do Evangelho Quadrangular existe para glorificar o nome de Deus e promover o crescimento do Seu Reino na Terra.
        Atendendo ao mandamento de Jesus Cristo, a igreja dedica-se ao evangelismo interdenominacional e mundial, buscando levar o evangelho e fazer discípulos em todas as nações.
    </p>

    <blockquote>
        “Ide por todo o mundo, pregai o evangelho a toda criatura.”<br />
        <small>(Marcos 16:15)</small>
    </blockquote>

    <blockquote>
        “Portanto ide, fazei discípulos de todas as nações...”<br />
        <small>(Mateus 28:19)</small>
    </blockquote>
</section>

<section>
    <h2>Visão</h2>
    <p>
        Apresentar Jesus Cristo, o Filho de Deus, como:
    </p>
    <ul>
        <li>O Salvador</li>
        <li>O Batizador com o Espírito Santo</li>
        <li>O Médico dos médicos</li>
        <li>O Rei que há de vir</li>
    </ul>
    <p>
        Desde 1923, essa visão tem sido praticada por meio da evangelização e da formação de líderes cristãos, comprometidos com o ensino bíblico e com o papel de ser o "sal da terra" e a "luz do mundo".
    </p>
</section>

<section>
    <h2>Valores</h2>
    <ul>
        <li>Adoração Cristocêntrica</li>
        <li>Discipulado cheio do Espírito</li>
        <li>Ensinamento e ministérios</li>
        <li>Consciência social</li>
    </ul>
</section>